<h1>Contact info</h1>


<h1><%= @contact.name()%></h1>
<ul>
  <li><%= @contact.contact_info().number()%></li>
  <li><%= @contact.contact_info().email()%></li>
  <li><%= @contact.contact_info().address()%></li>
</ul>


<% if false %>
numbers
emails
addresses

button update
button back to home page
<% end %>
