<h1>Add Contact</h1>
<form class="" action="/" method="post">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" value="">
  </div>
  <div class="form-group">
    <label for="numbers">Number</label>
    <input type="text" name="numbers" value="">
  </div>
  <div class="form-group">
    <label for="emails">Email</label>
    <input type="text" name="emails" value="">
  </div>
  <div class="form-group">
    <label for="addresses">Address</label>
    <input type="text" name="addresses" value="">
  </div>
  <button type="submit" name="button" class="btn btn-primary">Submit</button>
</form>
