<h1>Contact List</h1>

<ul>
  <% @contacts.each() do |contact| %>
  <li><a href="/contact_info/<%= contact.id() %>"> <%= contact.name()%></a></li>
  <% end %>
</ul>

<a href="/form"><button type="button" name="button" class="btn btn-success">Add New Contact</button></a>
